<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>

<link rel="stylesheet" href="/admin/css/reset.css" type="text/css" media="screen" />

<link rel="stylesheet" href="/admin/css/style.css" type="text/css" media="screen" />
<!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
<link rel="stylesheet" href="/admin/css/invalid.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/admin/umeditor/themes/default/css/umeditor.min.css" type="text/css" media="screen" />

<script type="text/javascript" src="/admin/js/jquery.min.js"></script>


<script type="text/javascript" src="/admin/umeditor/umeditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/admin/umeditor/umeditor.js" /></script>
<!-- 语言包文件(建议手动加载语言包，避免在ie下，因为加载语言失败导致编辑器加载失败) -->
<script type="text/javascript" src="/admin/umeditor/lang/zh-cn/zh-cn.js"></script>


<!-- jQuery Configuration -->
<script type="text/javascript" src="/admin/js/configuration.js"></script>
<!-- Facebox jQuery Plugin -->
<script type="text/javascript" src="/admin/js/facebox.js"></script>
<!-- 配置文件 -->
</head>
<body>
<div id="body-wrapper">