<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
</head>
<body>
	<form action="reg" method="POST">
		<label for="username">姓名</label>
		<input type="text" name="username">
		<br>

		<label for="password">密码  </label>
		<input type="password" name="password">

		<br>
		<label for="repassword">密码确认</label>
		<input type="password" name="repassword">
		<br>
		<button type="submit">提交</button>

	</form>
</body>
</html>